    header {
        grid-area: header;
    }

    #section1 {
        grid-area: section1;
    }

    #left1 {
        grid-area: bannerleft;
    }

    #right1 {
        grid-area: bannerright;
    }

    #articles {
        grid-area: articles;
    }

    #article1 {
        grid-area: article1;
    }

    #article2 {
        grid-area: article2;
    }

    #article3 {
        grid-area: article3;
    }

    #final {
        grid-area: final;

    }

    #section2 {
        grid-area: section2;
    }

    #left2 {
        grid-area: left2;
    }

    #right2 {
        grid-area: right2;
    }

    #form {
        grid-area: form;
    }

    #enlaces {
        grid-area: enlaces;
    }

    #footer {
        grid-area: footer;
    }

    @media (max-width: 768px) {
        body {
            display: grid;
            grid-template-areas:
                "header"
                "left1"
                "right1"
                "article1"
                "article2"
                "article3"
                "left2"
                "right2"
                "footer"
            ;
        }

        #articles {
            display: grid;
            grid-template-areas:
                "article1"
                "article2"
                "article3"
            ;
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    @media (max-width: 1024px) {
        body {
            background-color: hotpink;
        }
    }

    @media (min-width: 1025px) and (max-width: 1240px) {
        body {
            display: grid;
            grid-template-areas:
                "header"
                "section1"
                "articles"
                "section2"
                "footer"
            ;
        }

        #section1 {
            display: grid;
            grid-template-areas:
                "bannerleft bannerright"
            ;
        }

        #articles {
            display: grid;
            grid-template-areas:
                "article1 article2 article3"
            ;
        }

        #section2 {
            display: grid;
            grid-template-areas:
                "left2 right2"
            ;
        }
    }