:root {
    --primary-color: #e5e5e5;
    --naranja-chillon: #ec8a1b;
    --blanco: #ffffff;
    --gris-para-p: #9a9b9c;
    --negrita: #666565;
}

// &.light  ejemplo para el modo claro y oscuro
   // --primary-color: var(--orange);


// &.dark

// usar icofont para las imagenes de las redes sociales, (SUBIRA NOTA)

//navbar de arriba usa un hover no boton

//LO QUE ENTRARA EN EL EXAMEN HORA TUTORIA grid flex variables media querys