// Definición de fuentes personalizadas
@font-face {
    font-family: 'Century';
    src: url('fonts/CenturyGothic/centurygothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Estilos tipográficos globales
h2 {
    font-family: 'Century';
    font-weight: normal;
}
aside#right1 p#uno{
    font-family: 'Century';
}
aside#right1 p#dos {
    font-family: Arial;
}
button {
    font-family: Arial;
}
label {
    font-family: Arial;
}


article div.titulo p{
    font-family: 'Century', 'Century Gothic', sans-serif;
}