@use 'abstracts/index' as *;
@use 'base/index' as *;
@use 'layout/index' as *;
@use 'vendors/index' as *;

header {
    margin: 20px 34px 20px 34px;
    display: flex;
    justify-content: space-between;
}

body {
    background-color: var(--primary-color);
    box-sizing: border-box;
    max-width: 1240px;
    margin: auto;
}

button {
    width: 91px;
    height: 24px;
    border-radius: 11px;
    background-image: linear-gradient(0deg, #d4d3d3 0%, #e9e9e9 100%);
    border: 1px solid #c6c6c6;
    font-size: 12px;
    color: #787878;
    margin-top: 8px;
}

header nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--negrita);
    font-family: Arial;
    font-size: 12px;
}

header nav ul li a:hover {
    display: flex;
    width: 79px;
    color: #fefefe;
    height: 27px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-image: linear-gradient(0deg, #ef9f46 0%, #f3ab5b 50%, #f4cfa7 100%);
    border: 1px solid #675f55;
}

div#logo i {
    padding-left: 30px;
    font-size: 25px;
    color: #4fa0c3;
}

section#section1 {
    background-color: var(--blanco);
    border-radius: 8px;
    filter: drop-shadow(1.06px -1.696px 2.5px rgba(234, 234, 234, 0.23));

}

div#right1 {
    padding: 10px;
}

div#right1 h1 {
    font-family: 'Century';
    font-size: 27px;
    color: var(--h1color);
    margin-bottom: 0px;
}

div#right1 p#uno {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: var(--pUno);

}

div#right1 p#dos {
    border-top: 1px solid black;
    padding-top: 20px;
    color: var(--gris-para-p);
    font-size: 12px;
}
div#botonSection1 {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

main {
    padding: 0px 30px;
}

.naranja-chillon {
    color: var(--naranja-chillon);
}

.article {
    border-radius: 6px;
    filter: drop-shadow(1px 1.732px 1.5px rgba(197, 196, 196, 0.47));
    border: 1px solid #e1e0e0;

}

.article img {
    padding-right: 20px;
}

p.naranja-chillon {
    display: flex;
    justify-content: end;
    font-size: 12px;
    font-family: Arial;
}

div.titulo p {
    padding-left: 10px;
    margin: 10px 10px;
    font-size: 20px;
    color: #7e7e7e;
    font-family: "Century";
}

div#articles {
    margin-top: 24px;
}

@media (min-width: 769px) {
    #articles {
        display: flex;
        gap: 25px;
    }
}

div.titulo p {
    font-size: 20px;
    color: var(--colorArticleTitulo);
    font-family: 'Century';
}

.cuerpoArticulo {
    background-color: var(--blanco);
    padding: 20px 10px;
}

div.contenidoArticulo {
    display: flex;

}

div.contenidoArticulo p {
    font-family: Arial;
    color: var(--gris-para-p);
    font-size: 12px;
    line-height: 18px;
}

div.contenidoArticulo span.technology {
    text-decoration: underline;
    color: var(--negrita);
}

div span.negrita {
    font-weight: bold;
    color: var(--negrita);
    font-size: 13px;
}

#section2 div#left2 {
    padding-right: 100px;
}

#section2 div#left2 p {
    font-size: 12px;
    line-height: 18px;
    color: var(--gris-para-p);
    font-family: Arial;
}

div#left2 h2 {
    font-size: 22px;
    border-bottom: 1px solid grey;
}

div#form h2 {
    font-size: 19px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

label {
    font-size: 12px;
    line-height: 18px;
    color: var(--gris-para-p);
}

aside#right2 {
    box-sizing: border-box;
    max-width: 236px;
}

div#enlaces h2 {
    font-size: 19px;
}

nav.enlaces ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

nav.enlaces ul li a i.bx.bxl-twitter {
    font-size: 48px;
    color: #b0ecee;
}

nav.enlaces ul li a i.bx.bxl-facebook {
    font-size: 48px;
    color: #5373ad;
}

nav.enlaces ul li a i.bx.bxl-linkedin {
    font-size: 48px;
    color: #4fa0c3;
}

footer {
    border-top: 2px solid black;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
}

nav.footer ul {
    padding: 0;
}

nav.footer ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

nav.footer ul li {
    color: var(--negrita);
    border-right: 1px solid var(--negrita);
    height: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
}

nav.footer ul li:first-child {
    color: #666666;
}

nav.footer ul li:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

nav.footer ul li a:hover {
    color: var(--naranja-chillon);
}

footer div.footerright p {
    font-size: 12px;
    color: var(--gris-para-p);
    font-family: Arial;
    line-height: 18px;
}